h1{
	font-family: "Century Schoolbook", cursive, sans-serif;
	color: #000000;
	font-size: 150%;	
	margin: 0;
	padding: 0 0 1em 0;
	clear:both;
}

h2{
	font-family: "Century Schoolbook", cursive, sans-serif;
	color: #000000;
	font-size: 135%;
	clear:both;	
}

h3{
	font-family: "Century Schoolbook", cursive, sans-serif;
	color: #000000;
	font-size: 125%;
	clear:both;
}

body{
	background-color:#FFFFFF;
	/*min-width: 800px;*/
	padding: 0px;
	margin: 0px;
}

p {
	font-family: "Century Schoolbook", cursive, sans-serif;
	font-size: 115%;
	color: #660099;
}

#wrapper {

	min-width:840px;
	position: relative;
	text-align: left;
	width: 85%;
	margin: 0 auto 0 auto;
	padding: .5em;
	border: solid;
	border-width: 2px;
	border-radius: 10px;
	color:purple;
	
	background-image: linear-gradient(bottom, rgb(242,164,206) 25%, rgb(255,235,246) 70%);
	background-image: -o-linear-gradient(bottom, rgb(242,164,206) 25%, rgb(255,235,246) 70%);
	background-image: -moz-linear-gradient(bottom, rgb(242,164,206) 25%, rgb(255,235,246) 70%);
	background-image: -webkit-linear-gradient(bottom, rgb(242,164,206) 25%, rgb(255,235,246) 70%);
	background-image: -ms-linear-gradient(bottom, rgb(242,164,206) 25%, rgb(255,235,246) 70%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(242,164,206)),
		color-stop(0.7, rgb(255,235,246))
	);
		
}


#menu{
	clear: both;	
}
.login {
	font-family: "Century Schoolbook", cursive, sans-serif;	
	font-size: 110%;
	font-weight: bold;
	color: #c11a70;
	text-shadow: #5A5A5A 1px 1px 2px;
	text-align: right;
	float:right;
	display:inline;
/*	padding: 2em .5em .5em 2em;*/
}
.login a:hover{
	border: solid;
	border-width: 2px;
	border-radius: 10px;
	border: blue;
	color: white;
	background: #FC4BC1;
	padding:.2em;
}
/*for the login button*/
.blogin{
	border-radius: 10px;
padding:.2em .4em .2em .4em ;
	background-image: linear-gradient(bottom, rgb(217,71,159) 25%, rgb(242,164,206) 70%);
	background-image: -o-linear-gradient(bottom, rgb(217,71,159) 25%, rgb(242,164,206) 70%);
	background-image: -moz-linear-gradient(bottom, rgb(217,71,159) 25%, rgb(242,164,206) 70%);
	background-image: -webkit-linear-gradient(bottom, rgb(217,71,159) 25%, rgb(242,164,206) 70%);
	background-image: -ms-linear-gradient(bottom, rgb(217,71,159) 25%, rgb(242,164,206) 70%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(217,71,159)),
		color-stop(0.7, rgb(242,164,206))
	);
	font-family: "Century Schoolbook", cursive, sans-serif;
	font-size: 65%;
}
/*for all the buttons*/
.button{
	border-radius: 10px;
	padding:.3em .7em .3em .7em ;
	background-image: linear-gradient(bottom, rgb(217,71,159) 25%, rgb(242,164,206) 70%);
	background-image: -o-linear-gradient(bottom, rgb(217,71,159) 25%, rgb(242,164,206) 70%);
	background-image: -moz-linear-gradient(bottom, rgb(217,71,159) 25%, rgb(242,164,206) 70%);
	background-image: -webkit-linear-gradient(bottom, rgb(217,71,159) 25%, rgb(242,164,206) 70%);
	background-image: -ms-linear-gradient(bottom, rgb(217,71,159) 25%, rgb(242,164,206) 70%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(217,71,159)),
		color-stop(0.7, rgb(242,164,206))
	);
	font-weight:bold;
	font-family: "Century Schoolbook", cursive, sans-serif;
	
}
.box{
	border-radius: 10px;
}

#right{
	font-family: "Century Schoolbook", cursive, sans-serif;
	color: #663399;
	text-align: right;
	margin:0px;
}
/* Dropdown Menu*/
nav {
	/*margin: 100px auto;min-width: 750px;	 */
	text-align: center;
	
}
nav ul ul {
	display: none;	
}
	nav ul li:hover > ul {
		display: block;
	}	
nav ul {	
	background-image: linear-gradient(bottom, rgb(143,24,88) 25%, rgb(217,70,146) 65%);
	background-image: -o-linear-gradient(bottom, rgb(143,24,88) 25%, rgb(217,70,146) 65%);
	background-image: -moz-linear-gradient(bottom, rgb(143,24,88) 25%, rgb(217,70,146) 65%);
	background-image: -webkit-linear-gradient(bottom, rgb(143,24,88) 25%, rgb(217,70,146) 65%);
	background-image: -ms-linear-gradient(bottom, rgb(143,24,88) 25%, rgb(217,70,146) 65%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(143,24,88)),
		color-stop(0.65, rgb(217,70,146))
	);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	/*COMMENTED OUT FOR THE DROPDOW MENU 
	display: inline-table;*/
	/*A*/
	border-width: 2px;
	color: #580644;	
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}
	nav ul li {
		float: left;
	}
		nav ul li:hover {
			/*background: #D94692;*/
			background-image: linear-gradient(bottom, rgb(217,70,146) 25%, rgb(143,24,88) 70%);
			background-image: -o-linear-gradient(bottom, rgb(217,70,146) 25%, rgb(143,24,88) 70%);
			background-image: -moz-linear-gradient(bottom, rgb(217,70,146) 25%, rgb(143,24,88) 70%);
			background-image: -webkit-linear-gradient(bottom, rgb(217,70,146) 25%, rgb(143,24,88) 70%);
			background-image: -ms-linear-gradient(bottom, rgb(217,70,146) 25%, rgb(143,24,88) 70%);
			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0.25, rgb(217,70,146)),
				color-stop(0.7, rgb(143,24,88))
			);
			border-radius: 10px 10px 0px 0px;  /*A*/
		}
			nav ul li:hover a {
				color: #fff;
			}		
		nav ul li a {
			display: block; 
			padding: 15px 30px;
			font-weight:bold;
			color: black; 
			text-shadow: #5A5A5A 1px 1px 2px;
			text-decoration: none;
		}	
	nav ul ul {
		background: #fa91c9;
		background-image: linear-gradient(bottom, rgb(224,121,176) 0%, rgb(224,107,169) 32%, rgb(217,70,146) 73%);
		background-image: -o-linear-gradient(bottom, rgb(224,121,176) 0%, rgb(224,107,169) 32%, rgb(217,70,146) 73%);
		background-image: -moz-linear-gradient(bottom, rgb(224,121,176) 0%, rgb(224,107,169) 32%, rgb(217,70,146) 73%);
		background-image: -webkit-linear-gradient(bottom, rgb(224,121,176) 0%, rgb(224,107,169) 32%, rgb(217,70,146) 73%);
		background-image: -ms-linear-gradient(bottom, rgb(224,121,176) 0%, rgb(224,107,169) 32%, rgb(217,70,146) 73%);
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(224,121,176)),
			color-stop(0.32, rgb(224,107,169)),
			color-stop(0.73, rgb(217,70,146))
		);
		border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
	}
		nav ul ul li {
			float: none; 
			border-top: 1px solid #D94692;
			border-bottom: 1px solid #8F1858;
			position: relative;
		}
			nav ul ul li a {
				padding: 15px 30px;
				color: #fff;
			}	
				nav ul ul li a:hover {
					/*background: #B02C72;*/
				}	
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}

.selected{
	/**/background-image: url('../Images/MenuStar.png');
	background-position: 90% center;
	background-repeat:no-repeat;
	position: relative;
	/*display:inline; 
	float: left;*/
	border: 1.5px  dash #d98db4;
	border-radius: 5px;
}


#content {
	font-family: "Century Schoolbook", cursive, sans-serif;
	/*border: 2px solid;
	color:#3300CC;*/
	padding: 1em;
	clear:both;
}
#content p {
	margin: 0;
	padding: 1em;
}

/*user menu*/ 
	/*selected*/
#sel a{
	font-weight: bold;
}
	/*Non selected*/
#nonsel a{
	text-decoration: none;
}
.subMenu{
	width: 90%;
    margin: 0px auto; /*this centers the div*/
	font-size:80%;
	clear:both;
}
.subMenu ul{
    margin: 0; padding: 0;
	border-radius: 5px; 
    float: left;
	border: solid;
	border-width: 2px;
    background-color: #F6BADA;
}
.subMenu ul li{
    display: inline;
}
.subMenu ul li a{
    float: left;
    color: black; 
    padding: .4em .6em .4em .6em;
}
.subMenu ul li a:visited{
    color: black;
}
.subMenu ul li a:hover, .subMenu ul li .current{    
	border-radius: 5px;
	background:#d98db4;
}

.miniSubMenu{
	width: 40%;
    margin: 0px auto; /*this centers the div*/
	font-size:80%; 
	float: right;
	
	border: solid;
	border-width: 1px;
    background-color: #F6BADA;
	border-radius: 5px; 
	padding: .4em .3em .4em .3em;
	text-align: center;
}
.miniSubMenux{
   color: black;
	font-size:80%; 
	float: right;	
	border: solid;
	border-width: 1px;
    background-color: #F6BADA;
	border-radius: 5px; 
	padding: .3em;
	text-align: center;
}
.miniSubMenux a:hover{    
	border-radius: 5px;
	background:#d98db4;
}
.miniSubMenu a:hover{    
	border-radius: 5px;
	background:#d98db4;
}

/*User ideas list text-decoration: none;*/
#userIdeas{
	list-style-image: url('../Images/ideaStar.png');
	font-size: 120%;
	padding-left: 2em;
}
#userIdeas li{	
padding-top:.3em;
padding-bottom:.3em;
}
#userIdeas a:hover {background:#CC99FF;}	



/*This is for the form*/
label{
	display:block;
}

fieldset{
	border:none; 
}

fieldset.form{
	border:none; 
	font-family: "Century Schoolbook", cursive, sans-serif;
}

/*Register Table*/
#registert{
	padding: 1em 2em 1em 4em;
	border: 1px;
}
#logint {
	padding-left: 5em;
}

#searchForm{
	padding: .5em .3em .3em .1em;
	float: right;
}

/*Important messages*/
#countDown{
	background-color:#E85A5A;
	font-size: 150%;
	text-align: center;
	font-weight:bold;
	color:black;
	display: inline;
}
#highlight{
	background-color:#89D680;
	font-size: 130%;
	text-align: center;
	color:black;
	display: inline;
}
.highlight{
	background-color:#89D680;
	/*font-size: 130%;*/
	text-align: center;
	color:black;
}
.highlightbad{
	background-color:#E85A5A;
	/*font-size: 130%;*/
	text-align: center;
	color:black;
}
#links{
	font-family: "Century Schoolbook", cursive, sans-serif;
} 
#links a:hover {background:#CC99FF;}	
#links a:visited {color:#9966CC;}


#bigText{
	font-family: "Century Schoolbook", cursive, sans-serif;
	color: #663399;
	font-size: 120%;
}

#footer{
	text-align: center;
	font-family: "Century Schoolbook", cursive, sans-serif;
	font-size: 80%;
	/*color:#6600FF;*/
	position:top center;
	display: block;
}
#footer a:hover {background:#CC99FF;}	
